Repository pingcap/talent-plan, pull requests merged in 2019-08, with the labels that each got.

#53 TiDB/MapReduce: update README and add more comments
  tidb/mapreduce/README.md
  tidb/mapreduce/mapreduce.go
Labels: p: tidb

#265 Fix typo
  tidb/mapreduce/urltop10_example.go
Labels: p: tidb

#199 tidb/join: fix different keys get a same keyhash
  tidb/join/join_example.go
Labels: p: tidb

#275 Closures are bound to wrong variable
  tidb/mapreduce/casegen.go
Labels: p: tidb, s: LGT2

#257 Minor bug fixes for rust/project-2
  rust/projects/project-2/src/kv.rs
Labels: p: rust

#269 rust/project-4/project.md: Update dev-dependencies
  rust/projects/project-4/project.md
Labels: p: rust
