Repository pingcap/talent-plan, pull requests merged in 2020-02, with the labels that each got.

#324 rust/projects: add hints of `try_clone` and `pread`
  rust/projects/project-4/README.md
Labels: contribution

#328 tidb/join: make the test case of join stronger
  tidb/join/join_test.go
Labels: component/tidb, contribution, status/LGT1

#321 tidb: remove useless code
  tidb/mapreduce/casegen.go
  tidb/mapreduce/urltop10_example.go
Labels: component/tidb, contribution
