Repository pingcap/talent-plan, pull requests merged in 2020-03, with the labels that each got.

#320 dss/raft: add some hints to kvraft::Node::kill
  dss/raft/src/kvraft/server.rs
Labels: component/dss, contribution

#308 dss: Update toolchain and fix clippy error
  dss/labrpc/src/lib.rs
  dss/percolator/src/tests.rs
  dss/raft/src/kvraft/config.rs
  dss/raft/src/raft/config.rs
  dss/raft/src/raft/errors.rs
  dss/rust-toolchain
Labels: component/dss, contribution, status/LGT1

#329 .github: add issue&PR template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-requirement.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: type/enhancement

#299 rust/projects: fix a typo in description
  rust/projects/project-1/README.md
Labels: component/rust, contribution, status/LGT1, status/require-change

#281 rust/projects: align `KvStore::get()` from doc to code.
  rust/projects/project-1/README.md
Labels: component/rust, contribution, status/require-change
